DROP TABLE IF EXISTS ordenes_temp; CREATE TABLE ordenes_temp AS SELECT * FROM ordenes; ALTER TABLE ordenes MODIFY COLUMN comprador_id BIGINT NULL; ALTER TABLE ordenes MODIFY COLUMN direccion_envio_id BIGINT NULL; ALTER TABLE ordenes ADD COLUMN subtotal DECIMAL(12,2) NULL DEFAULT 0; ALTER TABLE ordenes ADD COLUMN igv DECIMAL(12,2) NULL DEFAULT 0;
