server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${JDBC_URL:jdbc:h2:mem:ventas;DB_CLOSE_DELAY=-1;MODE=MySQL}
    username: ${DB_USERNAME:sa}
    password: ${DB_PASSWORD:}
    driver-class-name: ${DB_DRIVER:org.h2.Driver}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never

flyway:
  enabled: false
